---
title: 'Face of Cats'
thumb: 'works/face_of_cats/thumb.jpg'
date: 2015-01-06 09:07 UTC
ordinal: 1500
tags:
  - Graphic Design
---
%h1
  Felinae Family
%p.image-container
  = image_tag 'works/face_of_cats/01.jpg'
%p
  This is an ongoing project. I plan to illustrate the all the 38 species in Felinae Family, to demonstrate their characteristics.
%p.image-container
  = image_tag 'works/face_of_cats/02.jpg'
%p.image-container
  = image_tag 'works/face_of_cats/03.jpg'
%p.image-container
  = image_tag 'works/face_of_cats/04.jpg'
%p.image-container
  = image_tag 'works/face_of_cats/05.jpg'
