---
title: 'Happy Guokr Friends - The Missing Marshmallow'
thumb: 'works/happy_guokr_friends/thumb.gif'
ordinal: 198
date: 2015-01-06 07:13 UTC
tags:
  - Craft
  - Video
---
%h1
  Happy Guokr Friends - The Missing Marshmallow

%p.image-container
  = image_tag 'works/happy_guokr_friends/01.jpg'
%p
  The Quantum Blocks Design Group is a toy design group formed by biology scientists and creative desiners. We design mini block toy kits according to science facts, all the animals you see are not just cute, they also have detailed scientific accurency.

%p.video-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :src => "http://player.youku.com/embed/XMTI0ODUyNzQ2MA==",
          :title => "Youku video player"}

%p
  This stop motion work is a advertising video for the "Happy Guokr Friends" set.

%p.image-container
  = image_tag 'works/happy_guokr_friends/09.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/02.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/03.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/04.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/06.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/07.jpg'
%p.image-container
  = image_tag 'works/happy_guokr_friends/05.png'
%p
  Authorized by
  =link_to ' The Quantum Blocks Design Group @ Guokr.com', 'http://www.guokr.com/post/683616/'
