---
title: 'Hominidae'
thumb: 'works/hominidae/thumb.jpg'
date: 2015-01-06 08:56 UTC
ordinal: 1000
tags:
  - Infographic
---
%h1
  Hominidae Behavior - Social Structure, Communication and etc.
%p.image-container
  = image_tag 'works/hominidae/01.jpg'
%p
  As the movie Dawn of the Planet of the Apes released in 2014, I designed this infographic with our biology editor, to demonstrate the differences among different species in Hominidae Family shown in the movie.
%p.image-container
  = image_tag 'works/hominidae/02.jpg'
%p.image-container
  = image_tag 'works/hominidae/03.png'
%p.image-container
  = image_tag 'works/hominidae/04.png'
%p.image-container
  = image_tag 'works/hominidae/05.png'
%p.image-container
  = image_tag 'works/hominidae/06.png'
%p.image-container
  = image_tag 'works/hominidae/07.png'
%p.image-container
  = image_tag 'works/hominidae/08.png'
