---
title: 'Play with Food'
thumb: 'works/play_with_food/thumb.jpg'
date: 2015-01-06 09:10 UTC
ordinal: 1600
tags:
  - 'This and That'
---
%h1
  Play with Food
%p.image-container
  = image_tag 'works/play_with_food/01.jpg'
%p.image-container
  = image_tag 'works/play_with_food/02.jpg'
%p
  Vulcan Salute Cookie (3D-printed cookie cutter)
%p.image-container
  = image_tag 'works/play_with_food/03.jpg'
%p.image-container
  = image_tag 'works/play_with_food/04.jpg'
%p
  Tetris Chocolate
%p.image-container
  = image_tag 'works/play_with_food/05.jpg'
%p.image-container
  = image_tag 'works/play_with_food/06.jpg'
%p.image-container
  = image_tag 'works/play_with_food/07.jpg'
%p
  Fluorescence Cocktail
%p.image-container
  = image_tag 'works/play_with_food/08.jpg'
%p
  Scanable QR Code Cookie



