---
title: 'Solar System Bracelet'
thumb: 'works/solar_system_bracelet/thumb.jpg'
date: 2015-01-06 08:39 UTC
ordinal: 600
tags:
  - Jewellery Design
---
%h1
  Solar System Bracelet
%p.image-container
  = image_tag 'works/solar_system_bracelet/01.jpg'
%p.image-container
  = image_tag 'works/solar_system_bracelet/02.jpg'
%p.image-container
  = image_tag 'works/solar_system_bracelet/03.jpg'
%p.image-container
  = image_tag 'works/solar_system_bracelet/04.jpg'
%p.image-container
  = image_tag 'works/solar_system_bracelet/05.jpg'

%p
  Step by Step Instructables
%p.iframe-container
  %iframe{:allowscriptaccess => "always",
          :allowFullScreen => "true",
          :frameborder => "0",
          :style => "height: 400px;",
          :src => "http://m.instructables.com/id/Solar-System-Bracelet/"}
