---
title: Main Page
---
%header#header
  .navbar
    .main-logo
    %ul.nav
      %li.nav-about
        = link_to 'About', '#'
      %li.nav-connect
        = link_to 'Connect', '#'
      %li.nav-behance
        = link_to 'Behance', '#'
    .nav-toggle
      = link_to 'Toggle Navbar', '#'
#content
  %ul.works
    - data.works.each do |work|
      %li.work
        = image_tag work.src, :alt => work.title
        .work-detail
          .work-title
            %span= work.title
          .work-related_links
            - work.related_links.each do |link|
              %span.work-related_link
                = link_to link.title, link.href
